<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Money</title>
</head>
<body>
  <h1>Send Money</h1>
  <!-- Form to send money -->
  <form action="/user/send-money" method="post">
    <label for="email">Sender's Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="recipientEmail">Recipient's Email:</label>
    <input type="email" id="recipientEmail" name="recipientEmail" required>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required>
    <button type="submit">Send Money</button>
  </form>
  <a href="/user/dashboard">Back to Dashboard</a>
</body>
</html>
