<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transaction History</title>
</head>
<body>
  <h1>Transaction History</h1>
  <ul>
   <li>id: 1, sender: 'user1@example.com', recipient: 'user2@example.com', amount: 50</li>
   <li>id: 1, sender: 'user1@example.com', recipient: 'user2@example.com', amount: 50</li>
   <li>id: 1, sender: 'user1@example.com', recipient: 'user2@example.com', amount: 50</li>
   <li>id: 1, sender: 'user1@example.com', recipient: 'user2@example.com', amount: 50</li>
   <li>id: 1, sender: 'user1@example.com', recipient: 'user2@example.com', amount: 50</li>
  </ul>
  <a href="/user/dashboard">Back to Dashboard</a>
</body>
</html>